.chatbot-messages {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatbot-message-user {
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.chatbot-message-robot {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.chatbot-message-text {
  background-color: #eeeeee;
  padding: 15px 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.chatbot-message-profile {
  width: 45px;
  border-radius: 100%;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}

.time {
  font-size: 10px;
  color: #777777;
}